.navber {
    height: 4rem;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 10% 65% auto 10%;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.navber div {
    height: 4rem;
    width: 100%;
}

.div1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 span {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.div1 span:hover {
    background-color: #f2f2f2;
}

.div2 {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.div2 img {
    height: 100%;
    width: fit-content;
    border-radius: 50%;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3 input {
    font-size: calc(1rem);
    font-weight: 400;
    width: 63%;
    height: 2.8rem;
    border-radius: 4rem;
    border: none;
    outline: none;
    border: 3px solid #f2f2f2;
    padding-left: 2%;
    padding-right: 9%;
    position: relative;
}

.SearchIcon {
    position: absolute;
    top: 2.6%;
    right: 28%;
    height: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

.SearchIcon :hover {
    opacity: .5;
}

.CloseIcon {
    position: absolute;
    top: 1.6%;
    right: 30%;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleclose {
    display: none;
}

.CloseIcon:hover {
    background-color: #f2f2f2;
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div5 img {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .navber {
        grid-template-columns: 10% 10% 60% 10% auto;
    }
    .SearchIcon {
        right: 32%;
    }
    .div3 input {
        padding-right: 10%;
    }
    .CloseIcon {
        right: 34%;
    }
}

@media screen and (max-width:400px) {
    .navber {
        grid-template-columns: 7% 7% 65% 5% auto;
    }
    .div2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2 img {
        height: 50%;
        width: fit-content;
        border-radius: 50%;
    }
    .div3 {
        justify-content: center;
    }
    .div3 input {
        font-size: calc(.6rem);
        height: 2rem;
        width: 80%;
        padding-left: 2%;
        padding-right: 19%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .CloseIcon {
        right: 32%;
    }
    .div4 {
        justify-content: start;
    }
    .div5 {
        justify-content: center;
    }
    .div5 img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
}