.Videodetails {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 70% 30%;
    cursor: pointer;
}

.videoupper {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.videoupper img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.videoupper img:hover {
    border-radius: 0;
}

.videolower {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    font-size: calc(.4rem);
    color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.caption {
    width: 100%;
    text-align: justify;
    padding-top: 1rem;
}

.caption h1 {
    padding-right: .3rem;
    width: 100%;
}

.caption p {
    font-size: calc(.7rem);
}

.caption p:hover {
    opacity: .7;
}

.channel {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 1.5rem;
}

.channel img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.live,
.live img {
    border: 2px solid red;
}

@media screen and (max-width :376px) {
    /* .Videodetails {
        width: 17rem;
        height: 18rem;
    } */
}