.notification {
    position: fixed;
    width: 27rem;
    height: 2.5rem;
    bottom: 4%;
    left: 70%;
    z-index: 1000;
    display: grid;
    grid-template-columns: 88% auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.notification P {
    height: 100%;
    width: 100%;
    background-color: aqua;
    border-radius: 2rem;
    font-size: calc(.7rem);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 .4rem;
}

.notification span {
    border: 2px solid rgb(135, 62, 62);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(226, 193, 193);
    font-size: calc(.5rem);
    cursor: pointer;
    transition: .1s ease-in-out;
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification span:hover {
    transform: scale(.9, .9);
}

@media screen and (max-width: 1213px) {
    .notification {
        left: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .notification {
        width: 20rem;
        left: 40%;
    }
}

@media screen and (max-width: 500px) {
    .notification {
        width: 20rem;
        left: 15%;
        gap: .5rem;
    }
}