.searchpage {
    width: 83%;
    margin-left: auto;
    height: 91vh;
}

.childpage {
    height: 100%;
    display: grid;
    overflow-y: scroll;
    grid-template-columns: 75%;
    gap: 1%;
}

.searchcard {
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: 39% auto;
    border-radius: 2%;
}