.searchthumbnil {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.searchthumbnil img {
    border-radius: 2%;
    object-fit: contain;
    object-position: center;
}

.searchthumbnil img:hover {
    border-radius: 0;
}

.searchdescript {
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    display: grid;
    grid-template-rows: 15% 5% 30% auto;
    padding-top: 4%;
}

.searchtitle {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: calc(.5rem);
}

.searchposttime {
    display: flex;
    align-items: end;
    font-size: calc(.7rem);
    padding-top: 1rem;
}

.searchan {
    display: flex;
    align-items: center;
    justify-content: start;
}

.searchphoto {
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.searchphoto img {
    width: 55%;
    height: 55%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.searchname {
    font-size: calc(.7rem);
    font-weight: 600;
    width: 80%;
    text-align: justify;
}

.searchdetails {
    display: flex;
    align-items: start;
    height: 40%;
    padding-right: 1rem;
    font-size: calc(.7rem);
    display: flex;
    align-items: end;
}

@media screen and (max-width:1245px) {
    .searchtitle {
        font-size: calc(.4rem);
    }
    .searchdetails {
        font-size: calc(.6rem);
    }
}

@media screen and (max-width:1000px) {
    .searchtitle {
        font-size: calc(.3rem);
    }
    .searchdetails {
        font-size: calc(.4rem);
    }
    .searchname {
        font-size: calc(.5rem);
    }
    .searchposttime {
        font-size: calc(.5rem);
    }
}

@media screen and (max-width:700px) {
    .searchdescript {
        grid-template-rows: 20% 10% 30% auto;
        gap: 4%;
    }
}

@media screen and (max-width:500px) {
    .searchdescript {
        grid-template-rows: 10% 10% 50% auto;
        gap: 0;
    }
    .searchtitle {
        font-size: calc(.15rem);
        margin-bottom: calc(.17rem);
    }
    .searchposttime {
        font-size: calc(.4rem);
    }
    .searchname {
        font-size: calc(.3rem);
    }
    .searchdetails {
        font-size: calc(.3rem);
    }
    .searchdescript {
        padding: .5rem;
    }
}

@media screen and (max-width:450px) {
    .searchdescript {
        grid-template-rows: 7% 13% 50% auto;
        gap: 0;
    }
    .searchtitle {
        font-size: calc(.1rem);
    }
    .searchposttime {
        font-size: calc(.3rem);
    }
    .searchdetails {
        font-size: calc(.2rem);
    }
}