.videopagedivider {
    display: grid;
    grid-template-columns: 68% auto;
    height: 91vh;
    column-gap: 1rem;
}

.leftsidevideopage {
    width: 100%;
    overflow: scroll;
}

.rightsidevideopage {
    height: 92vh;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 4% 96%;
}

.commentdetails {
    padding-left: 1.5rem;
    display: grid;
    grid-template-rows: 2rem 9rem auto;
    gap: 1rem;
}

.videodetails {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-rows: 57% 10% 10% 20%;
}

.videocomp {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videotitle {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2.5rem;
    font-weight: bolder;
}

.channelperation {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}

.channlesomthing {
    display: grid;
    grid-template-columns: 23% 32% auto;
}

.channlelogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.channlelogo img {
    width: 3rem;
    height: 3rem;
    border-radius: 50% 50%;
    cursor: pointer;
}

.channelname {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.channelname span:first-child {
    font-size: calc(80%);
    font-weight: 700;
    cursor: pointer;
}

.channelname span:last-child {
    font-size: calc(0.8rem);
}

.channelname p {
    font-size: small;
}

.subscribebtn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    transition: all 2s ease-in;
}

.subscribebtn span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    font-size: small;
}

.channlestats {
    display: grid;
    grid-template-columns: 40% 20% auto;
    gap: 1rem;
}

.likdis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like,
.dislike {
    height: 2.5rem;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.like {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.dislike {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.share {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.sharelogo {
    display: flex;
    width: 80%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
}

.sharelogo p,
.sharelogo span {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
}

.morelogo {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.like:hover,
.dislike:hover,
.sharelogo:hover,
.morelogo:hover {
    background-color: #f2f2f2;
}

.description {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    background-color: #f2f2f241;
    padding-left: 2.5rem;
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 5% auto;
    gap: 0.5rem;
}

.description:hover {
    background-color: #f2f2f2;
}

.viwedate {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.details p {
    font-size: calc(1rem);
    font-weight: 450;
}

.clickmore {
    font-weight: calc(600);
}

.commentsnumber {
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: small;
}

.postcomments {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 60% 40%;
}

.createcomment {
    padding-left: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 90%;
    justify-content: start;
    align-items: center;
}

.commentsprofile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    border-radius: 50%;
}

.inputfiled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.inputfiled input {
    border: none;
    outline: none;
    width: 90%;
    border-bottom: solid 1px black;
}

.modifiecomment {
    display: flex;
    justify-content: end;
    align-items: start;
    gap: 0.5rem;
    padding-right: 1rem;
}

.cancel,
.comment,
.cancel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 11%;
    border-radius: 2rem;
    cursor: pointer;
}

.cancel:hover,
.comment:hover {
    background-color: #f2f2f1;
}

.allcomments {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
}

.videonavber {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videofeed {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 28%;
    gap: 1.5%;
    overflow-y: scroll;
    flex-wrap: nowrap;
}

.showbutton {
    height: 10rem;
    width: 8.5rem;
    background-color: #f2f2f2;
    display: none;
    grid-auto-rows: auto;
    position: absolute;
    left: 2%;
    bottom: 90%;
    border-radius: 1rem;
}


/* For Subscribebuttton.jsx */

.firstbutton {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    text-align: justify;
    cursor: pointer;
}

.firstbutton:hover {
    background-color: #f3ebeb;
}

.firstbutton:first-child {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.modal {
    position: absolute;
    top: -130%;
    left: 50%;
    display: none;
}

@media screen and (max-width:700px) {
    .modal {
        left: 12%;
        top: -120%;
    }
}


/* for ModalUnsubscribe.jsx */

.Modalunsubscribe {
    z-index: 1000;
    height: 10rem;
    width: 27rem;
    border-radius: 1.5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.8rem;
}

@media screen and (max-width:700px) {
    .Modalunsubscribe {
        width: 20rem;
    }
}

@media screen and (max-width:450px) {
    .Modalunsubscribe {
        width: 15rem;
        height: 8rem;
    }
}


/* ============================================= */

@media screen and (max-width: 1213px) {
    .videofeed {
        grid-auto-rows: 32%;
    }
}

@media screen and (max-width: 1000px) {
    .videopagedivider2 {
        height: 92vh;
        display: grid;
        grid-template-rows: 1000px 700px auto;
        overflow: scroll;
    }
    .rightsidevideopage2 {
        height: 100%;
        grid-template-rows: 50px 600px 50px;
        padding: 0.5rem 1rem;
    }
    .videofeed2 {
        height: 600px;
        display: grid;
        grid-auto-rows: 22%;
        grid-template-columns: 100%;
        gap: 1rem;
        overflow: scroll;
    }
    .showmorebutton {
        margin-top: .5rem;
        height: 50px;
        cursor: pointer;
        color: blue;
        font-weight: 400;
        font-size: calc(0.7rem);
        background-color: #f2f2f2;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .channlelogo img {
        height: 2rem;
        width: 2rem;
    }
    .channlesomthing {
        padding-left: 1rem;
        grid-template-columns: 20% 30% 50%;
        gap: 0.1rem;
    }
    .channelname span:first-child {
        font-size: calc(0.6rem);
    }
    .channelname span:last-child {
        font-size: calc(0.5rem);
    }
    .channlestats {
        gap: 0.7rem;
    }
    .subscribebtn {
        justify-content: center;
    }
    .subscribebtn span {
        width: 4.8rem;
        font-size: calc(0.7rem);
    }
    .likdis {
        font-size: calc(0.6rem);
    }
    .share {
        font-size: calc(0.8rem);
    }
    .sharelogo {
        font-size: calc(0.1rem);
    }
    .videofeed {
        display: grid;
        grid-auto-rows: 3.3%;
    }
    .modifiecomment {
        gap: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .subscribebtn span {
        font-size: calc(.3rem);
    }
    .videodetails {
        height: 900px;
        grid-template-rows: 40% 7% 13% 20%;
    }
}