*{
   border: none;
   margin: none;
   padding: none;
   box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
}

/* .dark_mode{
    --background-color:hsl(0deg 0% 5.88%);
} */
.light_mode{
    --background-color:#ffffff;
    --shade-color: #f2f2f2;
}